# Visual Studio files
.vs/
*.suo
*.user
*.cache
*.vsidx
*.futdcache.*
*.DocumentLayout.json

# Build artifacts
bin/
obj/
artifacts/

# Test output
TestResults/
*.testlog
*.trx
*.coverage
*.nunit.*
*.VisualState.xml

# Project evaluation cache
ProjectEvaluation/
FileContentIndex/
DesignTimeBuild/
*.v7.bin

# Reports / Logs (nếu có sau này)
Reports/
Logs/
Screenshots/
*.png
*.log
*.html

# Rider / Resharper
.idea/
_ReSharper*/
*.DotSettings.user

# Others
*.local.json
*.launchSettings.json
*.dbmdl
