# Visual Studio files
.vs/
AppiumTestPJ/
*.suo
*.user
*.cache
*.vsidx
*.futdcache.*
*.DocumentLayout.json

bin/
obj/
artifacts/



ProjectEvaluation/
FileContentIndex/
DesignTimeBuild/
*.v7.bin

Reports/
Logs/
Screenshots/
*.png
*.log
*.html

.idea/
_ReSharper*/
*.DotSettings.user


*.local.json
*.launchSettings.json
*.dbmdl
